[Unit]
Description=Actuators service
PartOf=evolutek.target

[Service]
ExecStart=actuators
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
