[Unit]
Description=Actuators service
PartOf=evolutek.target

[Service]
ExecStart=$PYTHON -m evolutek.services.actuators
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
