[Unit]
Description=actuators service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/actuators

[Install]
WantedBy=multi-user.target

