[Unit]
Description=AI service
PartOf=evolutek.target

[Service]
ExecStart=$PYTHON -m evolutek.services.ai
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
