[Unit]
Description=ai_pal service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/ai_pal

[Install]
WantedBy=multi-user.target

