[Unit]
Description=avoid service
PartOf=evolutek.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/local/bin/avoid

[Install]
WantedBy=multi-user.target
