[Unit]
Description=AX-12 controller
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/ax

[Install]
WantedBy=multi-user.target

