[Unit]
Description=AX-12 controller
PartOf=evolutek.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/local/bin/ax

[Install]
WantedBy=multi-user.target

