[Unit]
Description=Config service

[Service]
Type=simple
ExecStart=CONFIG_FILE=/etc/conf.d/config.ini /usr/bin/config

[Install]
WantedBy=multi-user.target

