[Unit]
Description=Config service

[Service]
Type=simple
Environment=CONFIG_FILE=/etc/conf.d/config.ini
ExecStart=/usr/bin/config

[Install]
WantedBy=multi-user.target

