[Unit]
Description=cs_echo service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/cs_echo

[Install]
WantedBy=multi-user.target

