[Unit]
Description=gpios service
PartOf=evolutek.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/local/bin/gpios

[Install]
WantedBy=multi-user.target
