[Unit]
Description=Reset service
PartOf=evolutek.target

[Service]
ExecStart=$PYTHON -m evolutek.services.reset
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
