[Unit]
Description=Robot service
PartOf=evolutek.target

[Service]
ExecStart=$PYTHON -m evolutek.services.robot
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
