[Unit]
Description=Sharp service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/sharp

[Install]
WantedBy=multi-user.target

