[Unit]
Description=Front Sharp service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/sharp_front
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target

