[Unit]
Description=Trajman service
PartOf=evolutek.target
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/local/bin/trajman
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target

