[Unit]
Description=Trajman service
PartOf=evolutek.target

[Service]
WorkingDirectory=$PWD
ExecStart=$PYTHON -m evolutek.services.trajman
CPUSchedulingPolicy=rr

[Install]
WantedBy=multi-user.target
