[Unit]
Description=Twitter
Requires=cellaserv.service
After=cellaserv.service

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/tweet
User=evolutek

[Install]
WantedBy=evolutek.target
