[Unit]
Description=Date
Requires=cellaserv.service
After=cellaserv.service

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/date

[Install]
WantedBy=evolutek.target
