[Unit]
Description=Date
Requires=cellaserv.service
After=cellaserv.service

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/date
User=evolutek

[Install]
WantedBy=evolutek.target
