[Unit]
Description=Tirette service
PartOf=evolutek.target
Requires=cellaserv2.service
After=cellaserv2.service

[Service]
ExecStart=/usr/bin/tirette

[Install]
WantedBy=multi-user.target

