KERNEL=="ttyUSB?", ATTRS{idVendor}=="067b", NAME="MotorCard", SYMLINK="MotorCard"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", NAME="AX", SYMLINK="AX"
KERNEL=="ttyACM?", ATTRS{idVendor}=="16d0", NAME="AX", SYMLINK="AX"
KERNEL=="ttyUSB?", ATTRS{idVendor}=="10c4", NAME="RPLIDAR", SYMLINK="RPLIDAR"
