[Unit]
Description=Timer
Requires=cellaserv

[Service]
ExecStart=/usr/bin/python3 $PREFIX/usr/lib/cs_services/timer/timer.py

[Install]
WantedBy=evolutek.target
