[Unit]
Description=AX12 Service
Requires=cellaserv.service
After=cellaserv.service

[Service]
ExecStart=/usr/bin/python3 $PREFIX/usr/lib/cs_services/ax/ax.py

[Install]
WantedBy=evolutek.target
