[Unit]
Description=AX12 Service
Requires=cellaserv.service
After=cellaserv.service

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/ax

[Install]
WantedBy=evolutek.target
