[Unit]
Description=AX12 Service
Requires=cellaserv.service
After=cellaserv.service
BindTo=sys-subsystem-usb-devices-usb2dynamixel.device

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/ax
User=evolutek
Environment=LIBDXL_PATH=$PREFIX/usr/lib

[Install]
WantedBy=evolutek.target
