[Unit]
Description=Webcam at Evolutek
BindsTo=ax.service
After=ax.service

[Service]
ExecStart=$PREFIX/usr/lib/cs_services/webcam

[Install]
WantedBy=evolutek.target
