[Unit]
Description=Webcam at Evolutek
BindsTo=ax.service
After=ax.service

[Service]
ExecStart=/usr/bin/python3 $PREFIX/usr/lib/cs_services/webcam/webcam.py
SyslogIdentifier=webcam

[Install]
WantedBy=evolutek.target
